@use 'base';

html, body {
  height: 100%;
  color: base.$main-color;
}

body {
  font-family: base.$main-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: base.$height-header;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  z-index: 5;
  padding: .5em;
  background-color: base.$roof-background;
}

.parents, .teacher {
  position: relative;
  cursor: pointer;
  color: base.$main-color;
  margin: 0 2em 0 1em;
}

.parents::after, .teacher::after {
  position: absolute;
  left: 105%;
  content: '▶';
  font-size: .8em;
  color: base.$main-color;
}

.open.parents::after, .open.teacher::after{
  content: '▼';
  top: 25%;
  font-size: .65em;
}

.parents_info {
  width: 12em;
  font-size: 1em;
  transform: translateY(-13.5em);
  transition: transform 2s ease;
  position: absolute;
  left: 1em;
  top: calc(3em-5px);
  z-index: 2;
  padding: .5em;
  background-color: base.$gallery-background;
  color: base.$gallery-color;
  border-bottom: 5px solid base.$roof-background;
}

.teacher_info {
  width: 12em;
  transform: translateY(-13.5em);
  transition: transform 2s ease;
  position: absolute;
  left: 14em;
  top: calc(3em-5px);
  z-index: 2;
  padding: .5em;
  background-color: base.$gallery-background;
  color: base.$gallery-color;
  border-bottom: 5px solid base.$roof-background;
}


.main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main_introduction {
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  background-color: base.$introduction-background;
}

.self-portret {
  width: 15em;
  position: relative;
  overflow: hidden;
  margin: 0 2em;
}

.central_text {
  width: 100%;
  font-family: base.$introduction-font;
  font-size: 1.5em;
  position: absolute;
  top: 11em;
  background-color: base.$introduction-background;
}

.central_text {
  p {
    text-align: center;
  }
}

.self-portret {
  img {
    height: 100%;
    width: auto;
  }
}

.left_text, .right_text {
  font-family: base.$introduction-font;
  font-size: 2em;
  color: base.$main-color;
}

.right_text>p {
  margin-bottom: .7em;
}

.main_gallery {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 2em;
  color: base.$gallery-color;
  background-color: base.$gallery-background;
}

.gouache, .pastel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
}

.gouache_title, .pastel_title {
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picture {
  width: 20em;
  height: auto;
  margin: 1em;
}

.horizontal {
  height: 20em;
  width: auto;
}

footer {
  width: 100%;
  height: base.$height-footer;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5em;
  background-color: base.$footer-background;
}

.copyright {
  margin: 0 2em;
}