@charset "UTF-8";
/* https://colorscheme.ru/#4H51TmNMcw0w0 */
/* Основной Цвет */
/* Вторичный Цвет A */
/* Вторичный Цвет B */
/* VARIABLE */
html, body {
  height: 100%;
  width: 100%;
  color: #cc99ff;
}

body {
  /*height: 100%;*/
  /*height: 100vh;*/
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  z-index: 5;
  padding: 0.5em 0;
  background-color: #990066;
}

.parents, .teacher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 2em 0 1em;
}

.parents::after, .teacher::after {
  content: "";
  height: 1.2em;
  width: 1.2em;
  margin-left: 0.2em;
  background-image: url("../pictures/arrow.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.open.parents::after, .open.teacher::after {
  content: " ";
  height: 1.2em;
  width: 1.2em;
  margin-left: 0.2em;
  background-image: url("../pictures/arrow-open.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  flex: 1 0 auto;
  /* для ie растянуть main, чтоб не выпадало*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.parents_info {
  width: 12em;
  font-size: 1em;
  transform: translateY(-15.5em);
  transition: transform 1.5s ease;
  position: absolute;
  left: 1em;
  top: calc(3em-5px);
  z-index: 3;
  padding: 0.5em;
  background-color: #cc99ff;
  color: #660099;
  border-bottom: 5px solid #990066;
}

/*
.teacher_info {
  width: 10em;
  transform: translateY(-13.5em);
  transition: transform 1.5s ease;
  position: absolute;
  left: 14em;
  top: calc(3em-5px);
  z-index: 3;
  padding: .5em;
  background-color: $gallery-background;
  color: $gallery-color;
  border-bottom: 5px solid $roof-background;
}*/
.main_introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #660099;
}

.self-portret {
  height: 20em;
  width: 15em;
  position: relative;
  margin: 0 2em;
  background-image: url("../pictures/self-portret.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.central_text {
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  top: 11em;
  background-color: #660099;
}

.central_text p {
  text-align: center;
}

.left_text, .right_text {
  font-size: 2em;
}

.right_text > p {
  margin-bottom: 0.7em;
}

.main_gallery {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  color: #660099;
  background-color: #cc99ff;
}

.gouache, .pastel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.gouache_title, .pastel_title {
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.gouache_gallery, .pastel_gallery {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.picture {
  width: 20em;
  height: auto;
  margin: 0.5em;
}

.horizontal {
  height: 20em;
  width: auto;
}

footer {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
  background-color: #333399;
}

.copyright {
  margin: 0 0.1em;
}

@media all and (max-width: 1050px) {
  .gouache_gallery, .pastel_gallery {
    justify-content: center;
  }
}
@media all and (max-width: 510px) {
  .picture {
    width: 20em;
    height: auto;
    margin: 0.5em;
  }

  .horizontal {
    height: 18em;
    width: auto;
  }
}
@media all and (max-width: 470px) {
  .picture {
    width: 19em;
    height: auto;
    margin: 0.5em;
  }

  .horizontal {
    height: 17em;
    width: auto;
  }
}
@media all and (max-width: 440px) {
  .picture {
    width: 19em;
    height: auto;
    margin: 0.1em;
  }

  .horizontal {
    height: 17em;
    width: auto;
  }
}
@media all and (max-width: 420px) {
  .picture {
    width: 18em;
    height: auto;
    margin: 0.1em;
  }

  .horizontal {
    height: 16em;
    width: auto;
  }
}
@media all and (max-width: 400px) {
  .main_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .self-portret {
    width: 100%;
    height: 25em;
    position: relative;
    margin: 0;
  }

  .left_text {
    position: absolute;
    top: 2em;
    left: 1em;
    z-index: 2;
    color: #660099;
  }

  .central_text {
    width: 100%;
    font-size: 1.8em;
    top: 11.5em;
  }

  .right_text > p {
    margin-bottom: 0.2em;
  }

  .main_gallery {
    padding: 0.2em;
    align-items: center;
  }

  .gouache_title, .pastel_title {
    justify-content: center;
  }

  .picture {
    width: 100%;
    height: auto;
    margin: 0.3em 0;
  }
}

/*# sourceMappingURL=main.css.map */
